<h1>小组查看页面</h1>
<p>
  <strong>小组名</strong>
  <%= @group.groupname %>
</p>
<p>
  <%= @group.users.count() %>个用户
  <table>
    <thead>
      <tr>
        <td>用户名</td>
        <td>昵称</td>
      </tr>
    <tbody>
      <% @group.users.each() do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.nickname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @group.users.exists?(session[:uid]) %>
    <p>
      <%= @group.documents.count() %>个共享文件
      <ul>
        <% @group.documents.each do |document| %>
          <li><%= link_to document.filename, document_url_path(document) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>
</p>
<% if session[:uid] %>
  <% if @group.users.count == 0 or @group.users.first.id == session[:uid] %>
    <%= link_to "编辑小组", edit_group_path(@group) %>
    <%= link_to '删除小组', group_path(@group),
      method: :delete,
      data: { confirm: '您确定吗？' } %>
  <% elsif @group.users.exists?(session[:uid]) %>
    <%= link_to "离开小组", drop_group_path(@group) %>
  <% end %>

  <% if not @group.users.exists?(session[:uid]) %>
    <%= link_to "加入小组", join_group_path(@group) %>
  <% end %>
<% end %>

<% if session[:uid] %>
  <%= link_to "发送邮件", new_message_group_url(@group) %>
  <%= link_to "上传文件", new_document_group_url(@group) %>
<% end %>
<%= link_to "查看小组列表", groups_path %>
