<h1>用户查看页面</h1>
<p>
  <strong>用户名</strong>
  <%= @user.username %>
</p>
<p>
  <strong>昵称</strong>
  <%= @user.nickname %>
</p>
<p>
  <%= @user.groups.count() %>个小组
  <ul>
    <% @user.groups.each() do |group| %>
      <li><%= link_to group.groupname, group_path(group) %></li>
    <% end %>
  </ul>
</p>
<%= link_to "查看用户列表", users_path %>
<%= link_to "编辑用户", edit_user_path(@user) %>
<%= link_to '删除用户', user_path(@user),
              method: :delete,
              data: { confirm: '您确定吗？' } %></td>
