<!DOCTYPE html>
<html>
  <head>
    <title>Fileshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/status' %>
    <%= yield %>
    <hr>
    <p><strong>文件分享系统</strong> 作者: 软件51 沈俞霖 2151601013</p>
  </body>
</html>
